<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

    <div class="login-container">
        <div class="login-box">
            <div class="left-section">
                <img src="images/logo.jpg" alt="EduConnect Logo" class="logo">
                <h2>EDUCHAT</h2>
                <p>Unlock Your Potential!</p>

                <% if (typeof message !== 'undefined' && message !== '') { %>
                    <h4 class="error-message"><%= message %></h4>
                <% } %>

                <form action="" method="POST">
                    <input type="email" placeholder="Enter Your Email" name="email" required>
                    <input type="password" placeholder="Enter Your Password" name="password" required>
                    <button type="submit">Login</button>
                </form>
            </div>
            <div class="right-section">
                <img src="images/live-chat.png" alt="Student Image">
            </div>
        </div>
    </div>

</html>
